<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Mission Data</h1>
    Mission Name: <%=mission.name%>
    Launch Date: <%=mission.launchDate%>
    Operator: <%=mission.operator%>
    Mission Type: <%=mission.missionType%>
    <img src="<%=mission.img%>" alt="Mission Photo" class="src">
    <a href="/">Back to Index</a>
</body>
</html>